* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  background-image: url("/assets/pictures/Best-Minecraft-Server-Hosting-Cover.jpg");
  display: flex;
  justify-content: center;
  font-family: "Minecraft", sans-serif;
}
img {
  width: 100vw;
  height: 100vh;
}

button {
  margin-top: 370px;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 249, 249);
  border: 1.5px solid black;
  font-size: 25px;
  cursor: pointer;
}
a {
  text-align: center;
  justify-content: center;
}
.p {
  text-align: center;
  justify-content: center;
  color: rgb(255, 249, 249);
}
