@font-face {
  font-family: minecraft;
  src: url("http://fonts.cdnfonts.com/css/minecraft-4");
}
@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  background-image: url("/assets/pictures/minecraft-page-2-image.jfif");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

button {
  margin-top: 370px;
  width: 150px;
  height: 50px;
  background-color: rgb(61, 51, 51);
  border: 1.5px solid black;
}

a {
  text-decoration: none;
  font-family: "Minecraft", sans-serif;
  font-size: 25px;
  color: black;
}
