* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  display: flex;
  justify-content: center;
  background-color: white;
  position: relative;
}

.game-board {
  margin-top: 15vh;
  width: 70vw;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  position: absolute;
}

.tool-box {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 85vh;
  background-color: blanchedalmond;
  position: absolute;
  margin-left: 80vw;
}
button {
  width: 60px;
  height: 15%;
  cursor: pointer;
  border: none;
  background-color: blanchedalmond;
}

.swordButton,
.shovelButton,
.pickaxeButton,
.axeButton {
  width: 60px;
  height: 60px;
  border: 2px black dotted;
}

button p {
  font-family: "Minecraft", sans-serif;
  color: black;
}
.tree {
  background: url("/assets/pictures/big/treeBrown.jpeg");
}

.leaves {
  background: url("/assets/pictures/big/treeGreen.jpeg");
}

.rock {
  background: url("/assets/pictures/big/brick.jpeg");
}

.ground {
  background: url("/assets/pictures/big/ground.jpeg");
}

.grass {
  background: url("/assets/pictures/big/treeGreen.jpeg");
}
.cloud {
  background-color: rgb(255, 255, 255);
}
.sky {
  background-color: rgb(21, 147, 215);
}
.grassGround {
  background: url("/assets/pictures/big/grassWithGround.jpeg");
}
.redBlock {
  background: url("/assets/pictures/big/Red-Brick-Block-300x300.png");
}
.pokemon-1 {
  background: url("/assets/pictures/pokemon-1.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}
.pokemon-2 {
  background: url("/assets/pictures/pokemon-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}
.pokemon-3 {
  background: url("/assets/pictures/pokemon-3.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}
.pokemon-4 {
  background: url("/assets/pictures/pokemon-4.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}
.pokemon-5 {
  background: url("/assets/pictures/pokemon-5.jfif");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}
.pokemon-6 {
  background: url("/assets/pictures/pokemon-6.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}

.pokemon-7 {
  background: url("/assets/pictures/pokemon-7.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(21, 147, 215);
}

.toolsUserChoose {
  width: 78.5vw;
  height: 13vh;
  margin-left: 8.5vw;
  background-color: blanchedalmond;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userchoice1,
.userchoice2,
.userchoice3,
.userchoice4,
.userchoice5,
.userchoice6,
.userchoice7,
.userchoice8 {
  font-family: "Minecraft", sans-serif;
  width: 60px;
  height: 60px;
  border: 2px black dotted;
  cursor: pointer;
  margin: 2%;
}
