* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
}

.game-board {
  width: 60vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.tool-box {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 100vh;
  background-color: black;
}
button {
  width: 60px;
  height: 15%;
  cursor: pointer;
  border: none;
  background-color: black;
}
.shovelButton,
.pickaxeButton,
.axeButton {
  width: 60px;
  height: 60px;
  border: 0.5px whitesmoke solid;
}
.chosenElement {
  height: 8vh;
  width: 4vw;
  border: 0.5px whitesmoke solid;
  background-position: center;
  background-size: cover;
}
button p {
  font-family: "Minecraft", sans-serif;
  color: whitesmoke;
}
.tree {
  background: url("/assets/pictures/big/treeBrown.jpeg");
}

.leaves {
  background: url("/assets/pictures/big/treeGreen.jpeg");
}

.rock {
  background: url("/assets/pictures/big/brick.jpeg");
}

.ground {
  background: url("/assets/pictures/big/ground.jpeg");
}

.grass {
  background: url("/assets/pictures/big/treeGreen.jpeg");
}
.cloud {
  background-color: rgb(255, 255, 255);
}
.sky {
  background-color: rgb(21, 147, 215);
}
.grassGround {
  background: url("/assets/pictures/big/grassWithGround.jpeg");
}
.redBlock {
  background: url("/assets/pictures/big/Red-Brick-Block-300x300.png");
}
