* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/minecraft-4");

body {
  background-image: url("/assets/pictures/Best-Minecraft-Server-Hosting-Cover.jpg");
  display: flex;
  font-family: "Minecraft", sans-serif;
  position: relative;
}
img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

button {
  margin-left: 30%;
  position: absolute;
  margin-top: 55vh;
  width: 145px;
  height: 45px;
  background-color: blanchedalmond;
  border: 1.5px solid black;
  font-size: 25px;
  cursor: pointer;
  font-family: "Minecraft", sans-serif;
}
button:hover {
  background-color: rgb(255, 217, 160);
}
.explanation {
  margin-left: 30%;
  position: absolute;
  z-index: 3;
  color: blanchedalmond;
  width: 34%;
  margin-top: 65vh;
  line-height: 1.5rem;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
button {
  margin-top: 35vh;
}
.explanation {
  margin-top: 45vh;
}
}
